<div class="space-y-2">
  <% flash.each do |type, message| %>
    <% next if message.blank? %>
    <% css =
        case type.to_sym
        when :notice, :success then "bg-green-50 text-green-700 border-green-200"
        when :alert, :error   then "bg-red-50 text-red-700 border-red-200"
        else                        "bg-slate-50 text-slate-700 border-slate-200"
        end %>
    <div class="my-4 px-4 py-3 border rounded-xl <%= css %>" role="alert">
      <%= message %>
    </div>
  <% end %>
</div>
